BoutiqueDiti2023/ServiceReport/Connected Services/ServiceMetier/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51666/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceMetier.Model" />
  <xs:element name="getListeProduit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceMetier.Model" minOccurs="0" name="getListeProduitResult" nillable="true" type="q1:ArrayOfProduits" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceMetier.Model" minOccurs="0" name="produit" nillable="true" type="q2:Produits" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>